:root {
    --main-color-blue: rgba(27, 125, 255, 1);
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-Light.ttf);
}

html {
    scroll-behavior: smooth;
}

body, input {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header {
    position: relative;
    z-index: 1;
    height: 1250px;
    padding: 3% 14% 0 14%;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url(../img/Hero.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.navigation {
    display: flex;
    flex-direction: row;
    gap: 85px;
    margin: 0;
    padding: 0;
}

.list-style-none {
    list-style: none;
    color: white;
}

.header-navs {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
}


.head {
    color: white;
    padding: 17% 0 0 0;
    font-size: 3rem;
    font-weight: 600;
}

.header-text {
    color: white;
    padding: 2% 0 4% 0;
    font-weight: 300;
    font-size: 1.2rem;
}

.search-block {
    width: 1055px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;

}

.legend-search {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 355px;
    font-size: 1.4rem;
    text-align: center;
}

.search {
    width: 350px;
    background: none;
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    color:white;
    padding-left: 2px;

}

.search:-webkit-autofill,
.search:-webkit-autofill:hover,
.search:-webkit-autofill:focus,
.search:-webkit-autofill:active  {
    transition: box-shadow 0.7s ease-out, color 0.7s ease-out;
    outline: 2px solid rgba(0, 110, 253, 0.678);
    -webkit-text-fill-color: #fff !important;
    -webkit-box-shadow: 0 0 0px 1000px rgba(27, 125, 255, 1) inset !important;
    border-radius: 3px;
}

.search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    background-image: url(../img/oui_cross.png);
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: cover;
}

.search:focus {
    outline: none;
}

.button-search  {
    font-size: 1.6rem;
    vertical-align: middle;
    width: 175px;
    height: 60px;
    border: none;
    color: white;
    transition-duration: 0.3s;
}

.search-butt-bg {
    background: var(--main-color-blue);
}

.button-search:hover {
    background: rgb(1, 92, 211);
    color: rgb(184, 184, 184);
}

.main-section {
    display: flex;
    justify-content: center; align-items: center;


}

.benefits-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.benefits {
    width: 93%;
    height: 655px;
    background: #fff;
    box-shadow: 0 5px 40px;
}

.pos-benefits {
    position: relative;
    top: -250px;
    left: 0;
    z-index: 1;
}

.__2pos {
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.padding-benefits {
    padding: 0 4% 0 4%;
}

.benefits > h1 {
    margin-bottom: 3.5em;
    font-weight: 700;
}

.icons {
    width: 66px;
    height: 66px;
}

.benefits-cards {
    gap: 35px;
    width: 460px;
    padding: 2%;
    transition-duration: 0.4s;
    &:hover{
        p {
            color: white;
        }
        h3 {
            color: white;
        }

        .shape {
            background-image: url(../img/white-arrow.png);
            width: 45px;
            height: 15px;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

.learn-more-links {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.view-neighborhood {
    width: 240px;
}

.view-prefecture {
    width: 200px;
}
.shape {
    background-image: url(../img/Shape.png);
    width: 33px;
    height: 9px;
    background-repeat: no-repeat;
    margin: 0 !important;
}

.learn-more-links p {
    margin: 0;
}

.text-decoration-none {
    color: var(--main-color-blue);
}

.learn-more-links:focus {
    color: var(--main-color-blue);
}

.learn-more-links:hover {
    color: var(--main-color-blue);
}

.benefits-cards > p {
    margin: 20px 0 35px 0;
}

.benefits-cards > h3 {
    margin-top: 35px;
    font-weight: 300;
}

.benefits-cards:hover {
    background: var(--main-color-blue);
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 370px;
    z-index: -1000;
    background-color: #0e1d28;
}
.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 1280px;
    gap: 139px;
    margin: 100px 0 144px 20%;
    background-color: #fff;
}
.inspired-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 36px;
}
.inspired-section p{
    position: relative;
    font-size: 2rem;
    height: 10px;
}
.inspired-section hr {
    position: absolute;
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    border: none;
}
.gallery{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}
.gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}
.gallery__item--2 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
}
.gallery__item--3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
}
.gallery__item--4 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
}
.gallery__item--5 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 6;
}


.header-info{
    margin-bottom: 50px;
}

.header-info p{
    position: relative;
    font-size: 2rem;
    height: 10px;
}
.header-info hr {
    position: absolute;
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    border: none;
}
*{
    font-family: 'Lato';
}
.card {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 392px;
    height: 567px;
    border: none !important;
}
.cards{
    display: flex;
    gap: 52px;
    flex-wrap: wrap;

}
.card-logo img{
    object-fit: cover;
    width: 392px;
    height: 350px;
}
.card-overlay{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    background: #15182499;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    top: 314px;
}
.info-overlay{
    margin-left: 20px;
}
.icons-overlay{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    gap: 20px;
}
.heart-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.comments-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bottom-info{
    display: flex;
    flex-direction: column;
}
.bottom-text{
    margin-bottom: 20px;
}
button{
    width: 118px;
    height: 42px;
    background-color: #006DFE;
    font-size: 1rem;
    color: #fff;
    border: none;
    transition: 0.3s;
}
button:hover{
    cursor: pointer;
    background: rgb(1, 92, 211);
    color: rgb(184, 184, 184);
}
.gallery-container{
    display: flex;
    flex-direction: column;
    width: 1280px;
    gap: 77px;
}
.block-one{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 108px;
}
.block-two{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 108px;
}
.shape{
    margin: 0 0 0 20px;
}
.block-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}
.block-image img{
    object-fit: cover;
    width: 600px;
    height: 350px;
}
.block-text{
    display: flex;
}
.video-container{
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
}
.video-container img{
    object-fit: cover;
    width: 100%;
    height: 900px;
}
.footer-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 139.5px;
    color: #fff;
}
.touch:hover {
    cursor: pointer;
}
